body
{
    align-items: center;
}

label
{
    font-size: 18pt;
}

td, th
{
    text-align: center;
}

th
{
    background-color: #ff8c00;
}

p
{
    color: red;
}

input,
{
    max-width: 56%;
}

input.rad
{
    transform: scale(1.75);
}

div
{
    align-items: center;
}

.opt
{
    font-size: 16pt;
}

.alert-danger
{
    width: 35%;
}

.table
{
    width: 56%;
    margin: 0px auto;
    float: none;
}

.forVerify
{
    max-width: 35%;
    width: 35%;
}

.form-control
{
    width: 56%;
    /* max-width: 56%; */
}

.container
{
    border: 1px solid black;
    background-color: #98FB98;
}

.mydp .selection {
    width: 56%;
    outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 6px;
    border: none;
    color: #555;
}

#datepicker
{
   width: 56%;
   /* max-width: 56%; */
}